WindowsConsoleAnsiSupport/cmake-build-debug/
WindowsConsoleAnsiSupport/cmake-build-release/
WindowsConsoleAnsiSupport/.idea/
WindowsConsoleAnsiSupport/.vs/
WindowsConsoleAnsiSupport/CMakeSettings.json
WindowsConsoleAnsiSupport/out/
GlovaLib/.idea/
GlovaLib/.gradle/
GlovaLib/build/
GlovaLib/bin/